.form{
    align-self: center;
    margin: 20px;
    text-align: center;
    background-color: cadetblue;
    padding:40px;
    width: 200px;
    border-radius: 30px;
}

textarea{
    resize:vertical;
}

.send{
    padding:5px;
}

.image{
    text-align: center;
}

.picto-contain{
    max-width: 140px;
    max-height: 140px;
    object-fit: contain;
}
